/*===========================
     01.COMMON CSS 
===========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    // Color 
    --white: #FFFFFF;
    --off-white: #EFEFEF;
    --black: #000000;
    --pri-color: #FF2150;
    --title-color: #202020;
    --sub-title-color: #b0b0b0;
    --border-light: #EEEEEE;
    // Fonts 
    --font-main: "Poppins", serif;
}

* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--title-color);
    font-family: var(--font-main);
}

img {
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    color: #787878;
}

a,
a:hover {
    text-decoration: none;
}

input,
select,
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* Padding, Margin short class */
.sec-pad {
    padding: 120px 0;

    @media #{$md,$xs} {
        padding: 80px 0;
    }
}

.sec-pad-top {
    padding-top: 120px;

    @media #{$md,$xs} {
        padding-top: 80px;
    }
}

.sec-pad-bottom {
    padding-bottom: 120px;

    @media #{$md,$xs} {
        padding-bottom: 80px;
    }
}

.sec-mar {
    margin: 120px 0;

    @media #{$md,$xs} {
        margin: 80px 0;
    }
}

.sec-mar-top {
    margin-top: 120px;

    @media #{$md,$xs} {
        margin-top: 80px;
    }
}

.sec-mar-bottom {
    margin-bottom: 120px;

    @media #{$md,$xs} {
        margin-bottom: 80px;
    }
}

.title {
    margin-bottom: 70px;

    span {
        display: block;
        font-size: 16px;
        color: var(--sub-title-color);
        margin-bottom: 10px;
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
        color: var(--title-color);
        font-family: var(--font-main);
        margin-bottom: 0;

        b {
            color: var(--pri-color);
        }
    }
}

// common btn css
.btn-fill {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 12px 20px;
    min-width: 150px;
    text-align: center;
    border: 1px solid var(--black);
    background-color: var(--black);
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .5s;
    overflow: hidden;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--pri-color);
        transition: all .5s;
        z-index: -1;
    }

    &:hover {
        background: transparent;
        border-color: var(--pri-color);

        &::before {
            left: 0;
        }
    }
}